<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Space_Invaders.My.MySettings.ScoresConnectionString"
            connectionString="Data Source=test.mistele.com;Initial Catalog=Scores;Persist Security Info=True;User ID=matthew;Password=test1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>